

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "outfit", sans-serif;
}
body {
  background-color: hsl(217, 54%, 11%);
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.card {
  background-color:  hsl(216, 50%, 16%);
  border-radius: 15px;
  padding: 25px;
}

.card-text {
  line-height: 45px;
}

.price-time p{
  float:right;
}
.price-time{
  line-height: 50px;
}


 .card .user-info {
  display: flex;
  align-items: center;
  margin-top:20px;
}

.user-info img {
  width: 50px;
  margin-right: 15px;
}


